<div class="btn-group" dir="ltr">
  <button
    class="btn-writing-mode"
    data-target="<%= target %>"
    data-value="horizontal-tb"
  >
    Horizontal
  </button>
  <button
    class="btn-writing-mode"
    data-target="<%= target %>"
    data-value="vertical-rl"
  >
    Vertical RL
  </button>
  <button
    class="btn-writing-mode"
    data-target="<%= target %>"
    data-value="vertical-lr"
  >
    Vertical LR
  </button>
</div>
