:lang(en) {
  font-family: "Noto Serif", serif;
}
code:lang(en) {
  font-family: var(--font-monospace);
}
p:lang(en) {
  line-height: 1.5;
}

:lang(jp) {
  font-family: "Noto Serif JP", sans-serif;
}
p:lang(jp) {
  font-size: 1.125rem;
  line-height: 1.75;
}
.text-lg:lang(jp) {
  font-size: 1.25rem;
}
.text-lg:lang(ar) {
  font-size: 1.25rem;
}

:lang(ar) {
  font-family: "Noto Naskh Arabic", "Noto Serif", serif;
}
p:lang(ar) {
  font-size: 1.125rem;
  line-height: 1.75;
}

.demo-box:lang(en) {
  font-family: var(--font-system);
}

.positioning-demo {
  height: 150px;
}
.absolute-physical-demo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 100px;
}
.absolute-logical-demo {
  position: absolute;
  inset-inline-start: 20px;
  inset-block-start: 20px;
  width: 200px;
  height: 100px;
}

.vertical-demo {
  align-items: start;
}
.horizontal-tb-demo {
  writing-mode: horizontal-tb;
  max-block-size: 250px;
}
.vertical-rl-demo {
  writing-mode: vertical-rl;
  max-inline-size: 250px;
}
.vertical-lr-demo {
  writing-mode: vertical-lr;
  max-inline-size: 250px;
}

.sizing-physical-demo {
  width: 200px;
  height: 75px;
}
.sizing-logical-demo {
  inline-size: 200px;
  block-size: 75px;
}

#spacing-demo .demo-box {
  block-size: 125px;
  inline-size: 200px;
}
.spacing-physical-demo {
  margin-top: 20px;
  padding-left: 40px;
}
.spacing-logical-demo {
  margin-block-start: 20px;
  padding-inline-start: 40px;
}

#border-demo .demo-box {
  border: none;
  block-size: 100px;
  inline-size: 200px;
}
#border-demo .border-physical-demo {
  border-top: 2px solid var(--blue-50);
  border-left: 2px solid var(--blue-50);
}
#border-demo .border-logical-demo {
  border-block-start: 2px solid var(--blue-50);
  border-inline-start: 2px solid var(--blue-50);
}

#border-radius-demo .demo-box {
  border-radius: 0;
  border: 2px solid var(--blue-50);
  block-size: 100px;
  inline-size: 200px;
}
#border-radius-demo .border-radius-physical-demo {
  border-top-left-radius: 20px;
}
#border-radius-demo .border-radius-logical-demo {
  border-start-start-radius: 20px;
}

.font-system,
.font-system * {
  font-family: var(--font-system);
}
:lang(hi) {
  font-family: "Noto Serif Devanagari", serif;
}
:lang(zh) {
  font-family: "Noto Serif SC", serif;
}
:lang(ko) {
  font-family: "Noto Serif KR", serif;
}
.font-no-fallback {
  font-family: Impact;
}
.font-fallback {
  font-family: "Noto Naskh Arabic", "Noto Serif Devanagari",
    "Noto Serif SC", "Noto Serif KR", "Noto Serif JP",
    "Noto Serif", serif;
}
.font-tahoma {
  font-family: Tahoma;
}
.font-verdana {
  font-family: Verdana;
}
.font-impact {
  font-family: Impact;
}

.font-inconsistency-demo {
  text-align: center;
  border-block: 0.5px dashed var(--blue-50);
}

.ruby-demo {
  justify-content: center;
}
.ruby-demo p {
  margin-inline: 20px;
}
.ruby-over {
  ruby-position: over;
}
.ruby-under {
  ruby-position: under;
}

#text-emphasis-demo {
  justify-content: center;
}
em:lang(jp) {
  font-style: normal;
  text-emphasis-color: var(--blue-50);
  text-emphasis-position: over right;
}
.text-emphasis-dot:lang(jp) {
  text-emphasis-style: dot;
}
.text-emphasis-sesame:lang(jp) {
  text-emphasis-style: sesame;
}
.text-emphasis-under-left:lang(jp) {
  text-emphasis-position: under left;
}

q:lang(ar) {
  quotes: "«" "»" "‹" "›";
}
