:lang(en) {
  font-family: "Noto Serif", serif;
}
code:lang(en) {
  font-family: var(--font-monospace);
}
p:lang(en) {
  line-height: 1.5;
}

:lang(jp) {
  font-family: "Noto Serif JP", sans-serif;
}
p:lang(jp) {
  font-size: 1.125rem;
  line-height: 1.75;
}

:lang(ar) {
  font-family: "Noto Naskh Arabic", "Noto Serif", serif;
}
p:lang(ar) {
  font-size: 1.125rem;
  line-height: 1.75;
}

.btns-dir {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-block: 2rem;
}
button:lang(en) {
  font-family: var(--font-system);
}

.demo-box:lang(en) {
  font-family: var(--font-system);
}
.positioning-demo {
  height: 150px;
}
.absolute-physical-demo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 100px;
}
.absolute-logical-demo {
  position: absolute;
  inset-inline-start: 20px;
  inset-block-start: 20px;
  width: 200px;
  height: 100px;
}
