<h1>Essentials</h1>

<p>
  The most fundamental attributes when localizing a web page
  are the <code>lang</code> and <code>dir</code> attributes.
</p>

<h2>The lang attribute</h2>
<p>
  This document is in English, so its
  <code>html</code> attribute has a <code>lang</code> value
  of <code>"en"</code>.
</p>
<p>
  We can also target a specific element with
  <code>lang</code>. The following paragraph has a
  <code>lang</code> attribute value of
  <code>jp</code> (Japanese).
</p>
<p lang="jp">
  済イアチル第力モロワ浮家べ医山し碁度経ハニテヤ療情当に当遊報フぜ後75隊后嘘姉9日メ野市べき申情各ぽ収之や画57柏びつねひ。岡質16夫ずゃ野亡ホ作司細うだみめ演65職ク兵恵ほだっい議遊太マナモ禁住スワフ政公おぎでよ医十んあ降時ぱでとび縦教ク発。
</p>
<h2>The dir attribute</h2>
<p>
  The <code>dir</code> attribute is used to set the text
  direction of the content. This is especially useful when
  working with right-to-left languages.
</p>
<p>
  This document has a <code>dir</code> attribute with a
  value of <code>ltr</code> (left-to-right). The following
  paragraph, however, has a <code>dir</code> attribute with
  a value of <code>rtl</code>
  (right-to-left).
</p>
<p lang="ar" dir="rtl">
  لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول
  استنكار النشوة وتمجيد الألم نشأت بالفعل، وسأعرض لك
  التفاصيل لتكتشف حقيقة وأساس تلك السعادة البشرية، فلا أحد
  يرفض أو يكره أو يتجنب الشعور بالسعادة.
</p>
<blockquote>
  See the <a href="/layout">Layout</a> section for info on
  working with right-to-left layouts.
</blockquote>
